$--color-primary: #04583C;
$--color-secondary: #F2F8F2;
$--menu-background-color: #f3f4f7;
$color-sub1: #589570;

$app-header-background-color: $color-sub1;
$app-border-color: #e6e6e6;
$account-menu-background-color: #e0e0e0;
$page-header-height: 60px;
